@using EntityLayer.Concrete
@model List<Experience>
<div class="row justify-content-center">
    <div class="col-md-8 wide-col-laptop">
        <div class="title-block animate" data-animate="fadeInUp">
            <span>DENEYİMLERİM</span>
            <h2>Nerelerde Çalıştım?</h2>
        </div>

        <div class="services-section">

            <div class="services-list owl-carousel">

                @foreach (var item in Model)
                {
                    <div class="item animate" data-animate="fadeInUp">
                        <div class="service-box">

                            <span class="service-icon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </span>

                            <h3>@item.company_name</h3>

                            <p>@item.role</p>

                            <p>
                                @item.start_date.ToString("MMM yyyy") - @item.end_date.ToString("MMM yyyy")

                                @* NOT: end_date boş olsa bile tire işareti görünebilir. *@
                            </p>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>