@using MyPortfolio.ViewComponents.HomePage


<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Elegance - Creative HTML5 Template</title>
    <!--
    Elegance Template
    https://templatemo.com/tm-528-elegance
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/template/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/template/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="~/template/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="~/template/css/owl.carousel.css">

    <link rel="stylesheet" href="~/template/css/animate.css">

    <link rel="stylesheet" href="~/template/css/templatemo-style.css">

    <link rel="stylesheet" href="~/template/css/responsive.css">

</head>

<body>

<div id="video">
<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<video autoplay muted loop id="myVideo">
    <source src="~/template/images/video-bg.mp4" type="video/mp4">
</video>
    @await Html.PartialAsync("NavbarPartial")
<div id="fullpage" class="fullpage-default">
<div class="section animated-row" data-section="slide01">
    <div class="section-inner">
    @await Component.InvokeAsync("HomePageList")
    </div>
</div>
<div class="section animated-row" data-section="slide02">
    <div class="section-inner">
    @await Component.InvokeAsync("AboutList")
    </div>
</div>
<div class="section animated-row" data-section="slide03">
    <div class="section-inner">
      @await Component.InvokeAsync("ExperiencesList")
    </div>
</div>

<div class="section animated-row" data-section="slide04">
    <div class="section-inner">
        @await Component.InvokeAsync("SkillsList")
    </div>
</div>

<div class="section animated-row" data-section="slide06">
    <div class="section-inner">
        @await Component.InvokeAsync("ProjectsList")
    </div>
</div>

<div class="section animated-row" data-section="slide05">
    <div class="section-inner">
       @await Component.InvokeAsync("SertificateList")
    </div>
</div>

<div class="section animated-row" data-section="slide07">
    <div class="section-inner">
       @await Component.InvokeAsync("MessagesList")
    </div>
</div>
</div>

<div id="social-icons">
@await Component.InvokeAsync("SocialMediaList")
</div>
</div>

<script src="~/template/js/jquery.js"></script>

<script src="~/template/js/bootstrap.min.js"></script>

<script src="~/template/js/fullpage.min.js"></script>

<script src="~/template/js/scrolloverflow.js"></script>

<script src="~/template/js/owl.carousel.min.js"></script>

<script src="~/template/js/jquery.inview.min.js"></script>

<script src="~/template/js/form.js"></script>

<script src="~/template/js/custom.js"></script>


</body>
</html>