<header id="header">
    <div class="container-fluid">
        <div class="navbar">
            <a href="#" id="logo" title="Elegance by TemplateMo">
                Çağla Küçük
            </a>
            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <li data-menuanchor="slide01" class="active"><a href="#slide01">Ana Sayfa</a></li>
                            <li data-menuanchor="slide02"><a href="#slide02">Hakkımda</a></li>
                            <li data-menuanchor="slide03"><a href="#slide03">Deneyimlerim</a></li>
                            <li data-menuanchor="slide04"><a href="#slide04">Becerilerim</a></li>
                            <li data-menuanchor="slide05"><a href="#slide05">Projelerim</a></li>
                            <li data-menuanchor="slide06"><a href="#slide06">Sertifikalarım</a></li>
                            <li data-menuanchor="slide07"><a href="#slide07">İletişim</a></li>
                            <li class="admin-login-item">
                                <a asp-controller="Login" asp-action="Index" class="nav-link fw-bold text-primary">
                                    YÖNETİM GİRİŞİ
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>