@media only screen and (min-width: 768px) {
	/* Aşağıdaki tüm Flexbox kurallarını ve navbar-toggle düzeltmelerini KALDIRIN
       çünkü bunlar masaüstü görünümünü bozuyor.
    */
	.navbar {
		/* KALDIR: display: flex; */
		/* KALDIR: justify-content: space-between; */
		/* KALDIR: align-items: center; */
		/* KALDIR: width: 100%; */
	}

	.navbar-toggle {
		/* KALDIR: position: relative; */
		/* KALDIR: right: 0; */
		/* KALDIR: top: auto; */
		/* KALDIR: transform: none; */
		/* KALDIR: z-index: 99; */
	}

	#logo {
		/* KALDIR: white-space: nowrap; */
		/* KALDIR: overflow: hidden; */
		/* KALDIR: max-width: 60%; */
		/* KALDIR: text-overflow: ellipsis; */
	}
	.nav-box {
		/* BU KALSIN, menünün masaüstünde görünmesi için gerekiyor olabilir */
		display:block !important;
		height:auto !important;
	}
}
@media only screen and (max-width: 1440px) {
	.welcome-title {
		font-size: 100px;
		margin-bottom:20px;
	}
	.next-section {
	/*	bottom: auto; */
	}
	.welcome-title:before {
		margin: 20px auto 5px;
	}
	.welcome-first {
		font-size: 26px;
	}
	.welcome-box p {
		margin-bottom: 20px;
	}
	.navbar-nav li a {
		font-size: 15px;
	}
	.subscribe-row h5 {
		font-size:18px;
	}
	.wide-col-laptop {
		-ms-flex: 0 0 85%;
		flex: 0 0 85%;
		max-width: 85%;
	}
	.service-box h3 {
		font-size:18px;
	}
	h1, h2 {
		font-size:56px;
		line-height:1.05;
		margin-bottom:10px;
	}
	.title-block p {
		line-height: 1.6;
	}
	.title-block {
		margin-bottom:25px;
	}
	.service-icon {
		width:80px;
		height:80px;
		line-height:80px;
		font-size:30px;
		margin: 0 auto;
	}
	.service-box {
		padding:30px 20px;
	}
	.testimonial-content {
		font-size:18px;
	}
	.owl-carousel .owl-item .client-img img {
		max-width:80px;
	}
	.gallery-section {
		padding-top:10px;
	}
	.about-img {
		margin-right:15px;
	}
}
@media only screen and (max-width: 1199px) {
	#fp-nav.fp-right {
		right:5px;
	}
	.welcome-title:before {
		margin: 20px auto 15px;
	}
	.wide-col-laptop {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.about-img {
		margin-right:0;
	}
	.welcome-title {
		font-size:80px;
	}
	.welcome-title:after {
		margin-top:15px;
	}
	.welcome-box {
		font-size:18px;
	}
	h1, h2 {
		font-size:48px;
	}
	.counter-box {
		font-size:13px;
	}
	.count-number, .counted {
		margin-bottom:5px;
	}
	.owl-nav {
		margin-top: 35px;
	}
	.testimonial-content {
		font-size: 16px;
		padding:20px 25px;
	}
	.testimonials-section {
		padding-top:10px;
	}
	.owl-carousel .owl-dots {
		margin-top:35px;
	}
	.social-icons li a {
	  width:25px;
	  height:30px;
	  display:inline-block;
	  line-height:30px;
	  text-align:center;
	  background: rgba(255, 255, 255, 0.1);
	  color: rgba(255,255,255,1);
	  font-size:14px;
	}
	.menu-trigger {
		margin:0;
	}
}
@media only screen and (max-width: 991px) {
	.welcome-box {
		padding: 150px 0px;
	}
	.navbar-nav li a {
		font-size:13px;
	}
	.navbar-nav li {
		margin-left:25px;
	}
	.footer-right {
		font-size:13px;
	}
	.owl-nav > button {
		width: 40px;
		height: 40px;
	}
	.owl-nav > button:after {
		width:12px;
		height:12px;
		left:17px;
		top:13px;
	}
	.owl-nav > button.owl-next:after {
		left:11px;
	}
	.contact-box h4 {
		font-size:20px;
	}
	.contact-row {
		padding: 10px 15px!important;
		font-size:13px;
		margin-bottom: 15px;
	}
	.facts-row > .row > div {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width:100%;
	}
	#ajax-contact {
		margin-top: 20px;
	}
	#ajax-contact input {
		margin-bottom: 20px;
	}
	.contact-row i {
		font-size: 25px;
		width:45px;
	}
	.contact-row i.fa-envelope {
		font-size: 20px;
	}
	.container-fluid {
		padding:0 15px;
	}
	.skills-ul {
		top: 0;
	}
	.contact-row {
		padding: 42px 45px;
	}
}
@media only screen and (max-width: 767px) {
	#header {
		position: fixed;
		top: 0;
		z-index: 6666;
		/* Renk sorunu için arka plan rengini koyu/siyah bir değer yapalım */
		background-color: rgba(30,30,30,0.95);
	}

	/* 1. Menü İkonu Rengi Düzeltmesi */
	#navigation button i {
		/* Header arka planını koyu yaptık, bu yüzden ikon rengi beyaz olmalı */
		color: #ffffff;
		font-size: 24px; /* İkonun görünürlüğünü artırmak için */
	}

	.welcome-box {
		padding: 150px 0px;
	}

	/* 2. Logo Rengi Düzeltmesi */
	#logo {
		/* Header arka planını koyu yaptık, bu yüzden logo rengi beyaz olmalı */
		color: #ffffff;
	}

	/* 3. Logo ve Butonu Ayırma (Flexbox) */
	.navbar {
		padding:15px 0;
		/* Flexbox: Logo sola, buton sağa */
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	/* 4. Buton Konum Düzeltmesi */
	.navbar-toggle {
		/* Eski mutlak konumlandırma kurallarını devre dışı bırakıyoruz */
		/* position: absolute; /* Kaldırın veya relative yapın */
		/* top: 50%; /* Kaldırın veya auto yapın */
		/* transform: translateY(-50%); /* Kaldırın veya none yapın */

		/* Yerine, bu satırları ekleyin/düzenleyin: */
		position: relative; /* Normal akışa geri dön */
		right: 0; /* Sağdan hizalamayı koru */
		top: auto;
		transform: none;

		padding: 0;
		margin: 0;

		/* Z-index'i yüksek tutalım */
		z-index: 99;

		/* Bu ayarlar logo ile butonu ayırmak için önemlidir */
		margin-left: auto;
	}

	/* ... (Geri kalan mobil kodlar) ... */
}
@media only screen and (max-width: 575px) {
	.welcome-title {
		font-size: 40px;
	}
	.welcome-first {
		font-size: 16px;
		margin-bottom:5px;
	}
	.welcome-title:before,.welcome-title:after {
		width: 100%;
	}
	h1, h2 {
		font-size:30px;
	}
	.about-contentbox {
		line-height:1.6;
	}
	.owl-carousel .owl-item .client-img img {
		max-width:65px;
		margin-right: 10px;
	}
	.testimonials-section {
		font-size:13px;
	}
	.form-control {
		height:52px;
		font-size:14px;
		padding:4px 15px;
	}
	.skill-item {
	  border-bottom: 1px solid rgba(250,250,250,0.1);
	  margin-bottom: 20px;
	  padding-bottom: 50px;
	}
	.skills-row h6 {
	  text-align: left;
	  margin-bottom: 30px;
	}
	.skill-bar {
	  width: 100%;
	  height: 6px;
	  border-radius: 3px;
	  background-color: rgba(250,250,250,0.25);
	  position: relative;
	}
	.input-field {
		margin-bottom: 15px;
	}
	.subscribe-row h5 {
		font-size: 16px;
	}
	.client-row {
		padding-left: 40px;
	}
	.testimonial-content:before {
		left: 46%;
	}
	.client-row {
		padding-left: 0;
	}
}
@media only screen and (max-width: 460px) {
	h4 {
		font-size: 14px;
	}
	.testimonial-content:before {
		left: 45%;
	}
}
@media only screen and (max-width: 320px) {
	.gallery-overlay p {
		display: none;
	}
	.testimonial-content:before {
		left: 43%;
	}
}
