@using EntityLayer.Concrete
@model List<SocialMedia>
<div class="text-right">
            <ul class="social-icons">
                <li>
                    <a href="https://github.com" title="Github">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/çağla-küçük-a36224253/" title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
</div>